<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <title>Umów Wizytę</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">Mobilna wulkanizacja</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}">O nas</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Kontakt</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/faq}">FAQ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Oferta</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" th:href="@{/offer}">Dla osób fizycznych</a></li>
                            <li><a class="dropdown-item" th:href="@{/companies-offer}">Dla firm</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/make-appointment}">Umów Wizytę</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar"></i></div>
                    <h1 class="fw-bolder">Umów Wizytę</h1>
                    <p class="lead fw-normal text-muted mb-0">Wybierz opcję i umów wizytę</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <!-- Appointment Form -->
                        <form id="appointmentForm" th:action="@{/addClient}" th:object="${clientRequest}" method="post">
                            <!-- Type of client (physical person or company) -->
                            <div class="mb-3 text-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="clientType" id="clientTypePerson" value="person" onchange="toggleFormFields()" required>
                                    <label class="form-check-label" for="clientTypePerson">Klient Fizyczny</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="clientType" id="clientTypeCompany" value="company" onchange="toggleFormFields()" required>
                                    <label class="form-check-label" for="clientTypeCompany">Klient Firmowy</label>
                                </div>
                            </div>

                            <!-- Fields for personal clients-->
                            <div id="personFields" style="display:none;">
                                <!-- Calendar -->
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="appointmentDate"  onchange="fetchAvailableTimes()"/>
                                    <label for="appointmentDate">Wybierz datę wizyty</label>
                                </div>
                                <!-- Free dates of appointment (from database) -->
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="availableTimes" name="appointmentDate">
                                        <option value="" selected disabled>Wybierz wolny termin</option>

                                    </select>
                                    <label for="availableTimes">Wybierz godzinę wizyty</label>
                                </div>
                                <!-- Personal data -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="fullName" name="name" type="text" placeholder="Imię i nazwisko" data-sb-validations="required"/>
                                    <label for="fullName">Imię i nazwisko</label>
                                    <div class="invalid-feedback" data-sb-feedback="fullName:required">Imię i nazwisko jest wymagane.</div>
                                </div>
                                <!-- address Email -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email"/>
                                    <label for="email">Adres Email</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">Adres email jest wymagany.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Adres e-mail jest nieprawidłowy.</div>
                                </div>
                                <!-- Phone Number -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required"/>
                                    <label for="phone">Phone number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">Numer telefonu jest wymagany.</div>
                                </div>
                                <!-- Address -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="address" name="address" type="text" placeholder="Adres" data-sb-validations="required"/>
                                    <label for="address">Adres</label>
                                    <div class="invalid-feedback" data-sb-feedback="address:required">Adres jest wymagany.</div>
                                </div>
                                <!-- Service Category -->
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="serviceCategory" name="serviceCategory" data-sb-validations="required">
                                        <option value="" selected disabled>Wybierz kategorię usługi</option>
                                        <option value="Wymiana opon">Wymiana opon</option>
                                        <option value="Naprawa przebitych opon">Naprawa przebitych opon</option>
                                        <option value="Wyważanie kół">Wyważanie kół</option>
                                        <option value="Sezonowa wymiana opon">Sezonowa wymiana opon</option>
                                        <option value="Awaryjne wsparcie na drodze">Awaryjne wsparcie na drodze</option>
                                        <option value="Inne usługi">Inne usługi</option>
                                    </select>
                                    <label for="serviceCategory">Kategoria usługi</label>
                                    <div class="invalid-feedback" data-sb-feedback="serviceCategory:required">Kategoria jest wymagana.</div>
                                </div>
                                <!-- Description of the problem -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="problemDescriptionPerson" name="problemDescription"  placeholder="Opis problemu" style="height: 10rem" data-sb-validations="required"></textarea>
                                    <label for="problemDescriptionPerson">Opis problemu</label>
                                    <div class="invalid-feedback" data-sb-feedback="problemDescriptionPerson:required">Opis problemu jest wymagany.</div>
                                </div>
                            </div>

                            <!-- Fields for company clients -->
                            <div id="companyFields" style="display:none;">
                                <!-- Company name -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="companyName" name="name" type="text" placeholder="Nazwa firmy" data-sb-validations="required" />
                                    <label for="companyName">Nazwa firmy</label>
                                    <div class="invalid-feedback" data-sb-feedback="companyName:required">Nazwa firmy jest wymagana.</div>
                                </div>
                                <!-- address Email -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="emailCompany" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                    <label for="emailCompany">Adres Email</label>
                                    <div class="invalid-feedback" data-sb-feedback="emailCompany:required">Adres email jest wymagany.</div>
                                    <div class="invalid-feedback" data-sb-feedback="emailCompany:email">Adres e-mail jest nieprawidłowy.</div>
                                </div>
                                <!-- Phone Number -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phoneCompany" name="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                    <label for="phoneCompany">Numer telefonu</label>
                                    <div class="invalid-feedback" data-sb-feedback="phoneCompany:required">Numer telefonu jest wymagany.</div>
                                </div>
                                <!-- NIP -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="companyNIP" name="nip" type="text" placeholder="NIP" data-sb-validations="required" />
                                    <label for="companyNIP">NIP</label>
                                    <div class="invalid-feedback" data-sb-feedback="companyNIP:required">NIP jest wymagany.</div>
                                </div>
                                <!-- Company address -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="companyAddress" name="address" type="text" placeholder="Adres firmy" data-sb-validations="required" />
                                    <label for="companyAddress">Adres firmy</label>
                                    <div class="invalid-feedback" data-sb-feedback="companyAddress:required">Adres firmy jest wymagany.</div>
                                </div>
                                <!-- Description of the problem -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="problemDescriptionCompany" name="problemDescription" placeholder="Opis problemu" style="height: 10rem" data-sb-validations="required"></textarea>
                                    <label for="problemDescriptionCompany">Opis problemu</label>
                                    <div class="invalid-feedback" data-sb-feedback="problemDescriptionCompany:required">Opis problemu jest wymagany.</div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit" disabled>Umów Wizytę</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<script>
    document.getElementById("appointmentForm").addEventListener("submit", function (){
        const inputs = this.querySelectorAll("input, textarea, select");
        let allFieldsFilled = true;

        inputs.forEach(input => {
            if (input.hasAttribute("required") && input.value.trim() === "") {
                allFieldsFilled = false;
                input.classList.add("is-invalid"); // Add class to display error
            } else {
                input.classList.remove("is-invalid"); // Remove error class if field is filled
            }
        });

        if (!allFieldsFilled) {
            event.preventDefault(); // Stop sending form
            alert("Proszę wypełnić wszystkie wymagane pola.");
        }
    });
</script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>